/*-- scss:defaults --*/
// Base document colors
$primary:  #657e96;
$body-bg: #ffffff;
$banner-bg: #f0e3ce;
$grass-color-light: #f0e3ce;
// $grass-color-light: rgb(207, 207, 207);
$grass-color-black: #0a0a0a;

$savan-white:#fbfbfb;
// https://www.color-hex.com/color-palette/36240
$savan-primary: #657e96;
// $primary-light:
// $primary-dark:
$savan-secondary: #d07944;
$savan-secondary-light:rgb(207, 207, 207);
// $secondary-dark:
$savan-orange: #d49441;
$savan-tan: #f0e3ce;
$savan-brown: #a76a3a;
$buff: #e0c879ff;

// Revealjs theme colors
$link-color: $primary;
$presentation-heading-color: $primary;

.quarto-title-banner {
  background-color: $banner-bg !important;
  color: $grass-color-black !important;
  h1 {
    color: $grass-color-black !important;
  }
}

